---
// @ts-nocheck
import { type CollectionEntry, getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import TopLayout from "@layouts/TopLayout.astro";
import BottomLayout from "@layouts/BottomLayout.astro";
import { SearchComponent } from "@components/search.component";
import CONSTS from "@consts";

const { SEARCH } = CONSTS;

const posts = (await getCollection("blog")).filter((post) => !post.data.draft);

const projects = (await getCollection("projects")).filter(
  (post) => !post.data.draft,
);

const data = [...posts, ...projects] as CollectionEntry<"blog">[];
---

<PageLayout title={SEARCH.TITLE} description={SEARCH.DESCRIPTION}>
  <TopLayout>
    <div class="animate page-heading">
      {SEARCH.TITLE}
    </div>
  </TopLayout>
  <BottomLayout>
    <div class="animate">
      <SearchComponent client:load data={data} />
    </div>
  </BottomLayout>
</PageLayout>
